<link href="/css/style.css" rel="stylesheet" type="text/css">

<h1>Test de Neo4j sur Heroku !</h1>

<h3><u>Interface gestion basique</u></h3>

<!-- SUPRESSION -->
<form method="post" action="/db/delete">
	<label>Supprimer tous les noeuds</label>
	<input type="submit" value="SUPPRIMER">
</form>

<!-- AJOUT PERS-->
<form method="post" action="/person/add">
	<label>Nom</label>
	<input type="text" name="nom">
	<label>Age</label>
	<input type="text" name="age">
	<label>Job</label>
	<input type="text" name="job">
	<input type="submit" value="AJOUTER PERSONNE">
</form>

<!-- AJOUT LIEU-->
<form method="post" action="/building/add">
	<label>Batiment</label>
	<input type="text" name="nameBat">
	<label>Adresse</label>
	<input type="text" name="adresse">
	<input type="submit" value="AJOUTER BATIMENT">
</form>


<h3><u>Interface gestion EXCEL</u></h3>


<br>
<h3><u>Liste noeuds type "Person"</u></h3>

<table id="table1">
	  	<tr>
		    <th>ID neo4j</th>
		    <th>Name</th>
		    <th>Age</th>
		    <th>Job</th>
		    <th>Suppr.</th>
  		</tr>
		<% persons.forEach(function(person) { %>
		<tr>
			<td><%= person.id %> </td>
	    	<td><%= person.name %> </td>
	    	<td><%= person.age %> </td>
	    	<td><%= person.job %> </td>
	    	<td><a href="/pers/del/<%= person.id %>">✘</a></td>
	    </tr>
<% }); %>
</table>


<br>
<h3><u>Liste noeuds type "Building"</u></h3>

<table id="table2">
	  	<tr>
	  		<th>ID neo4j</th>
		    <th>Batiment</th>
		    <th>Adresse</th>
  		</tr>
		<% buildings.forEach(function(building) { %>
		<tr>
			<td><%= building.id %> </td>
	    	<td><%= building.name %> </td>
	    	<td><%= building.adress %> </td>
	    </tr>
<% }); %>


